{% extends "layout.twig" %}

{% block content %}



   <section class="bk-section">
    <header class="bk-header">
        <div class="header-wrapper clearfix">
            <div class="companyheader">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div>
            {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
        </div>
    </header>
	{{widget('feature', 'header-01', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg-01.jpg'), 'positionTopPercentage': '0','showBtn': true})|raw}}
	
	{{widget('socialicons', 'thisunqiuewidgetname', 
	{'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
    
</section>

    <div class="canvas">
        <div class="main wrapper clearfix">
            {{zone('main')|raw}}
        </div>
    </div>

    <footer class="bk-footer">
        <div class="wrapper clearfix">
            {{widget('companyaddress', 'companyaddress', {})|raw}}
        </div>
    </footer>



{% endblock %}
